/.kinmokusei/
**/.kinmokusei/gen/
/keika
/keika.out
/keika-example
/editors/vscode/node_modules/
/editors/vscode/.vscode-test/
/editors/vscode/dist/
/website/node_modules/
/website/.vitepress/cache/
/website/.vitepress/dist/
/dist/
