/.ontama/
**/.ontama/gen/
/ontama
/ontama.out
/ontama-example
/editors/vscode/node_modules/
/editors/vscode/.vscode-test/
/editors/vscode/dist/
/website/node_modules/
/website/.vitepress/cache/
/website/.vitepress/dist/
/dist/
